.App {
  text-align: center;
  background-color: white;
}

#active{
  width: 150px;
  background-color: rgb(8, 37, 8);
  border-radius: 25px;
  color: darkgreen;
  margin: auto;
}

#name {
  color: white;
  font-size: 40px;
  background-color: rgb(10, 10, 10); 
  width: 500px;
  margin: auto;
}

#logo{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100px;
  height: 100px;
 
}

#age{
  color: white;
  font-size: 30px;
  font-weight: lighter;
  background-color: rgb(10, 10, 10); 
  width: 500px;
  margin: auto;
}

#image{
  height: 500px;
  width: 500px;
  margin: auto;

}

#homebtn2 {
  position: absolute;
  font-size: large;
  font-weight: bolder;
  right: 0;
  border-radius: 25px;
  height: 50px;
  width: 100px;
}

#title {
   position: absolute;
   top: 200px;
   left: 450px;
   color: white;
   font-size: 200px; 
   font-weight: bolder;
   border-radius: 25px;
}

#homebutton {
  position: absolute;
  left: 900px;
  top: 800px;
  background-color: rgb(212, 93, 93);
  border-radius: 25px;
  height: 50px;
  width: 200px;
  font-size: large;
  color: white;
  font-weight: bolder;

}

#greet {
  color: white;
}

#logotext {
  position: absolute;
  top: 0px;
  left: 100px;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(206, 44, 44);
}

#login {
  background-color: antiquewhite;
  height: 200px;
  width: 300px;
  border-radius: 25px;
  position: absolute;
  left: 820px;
  top: 200px;
  z-index: 1;

}

#label {
  font-weight: bold;
}

#signup {
  background-color: antiquewhite;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  position: absolute;
  left: 800px;
  top: 300px;
}


#description {
  color: white;
  background-color: rgb(10, 10, 10);
  width: 500px;
  margin: auto;
  
}

#home {
  height: 900px;
  width: 2000px;
  background-color: aquamarine;
}

.hidden {
  visibility: hidden;
}

.unhidden {
  visibility: visible;
}

#dog {
  position: absolute;
  left: 600px;
  top: 200px;
  bottom: 300px;
  margin: auto;
  height: 700px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

#info {
  position: absolute;
  left: 65px;
  top: 400px;
}


#background{
  height: 2000px;
  background-color: white; 
}

#header {
  background-color: white;
  height: 100px;
}

