.App {
  text-align: center;
  background-color: white;
}

#active{
  width: 150px;
  background-color: rgb(8, 37, 8);
  border-radius: 25px;
  color: darkgreen;
  margin: auto;
}

#name {
  color: white;
  background-color: rgb(10, 10, 10);
  width: 500px;
  margin: auto;
}

#logo{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100px;
  height: 100px;
 
}

#age{
  color: white;
  background-color: rgb(10, 10, 10);
  width: 500px;
  margin: auto;
}

#image{
  height: 500px;
  width: 500px;
  margin: auto;

}

#homebtn2 {
  position: absolute;
  font-size: large;
  font-weight: bolder;
  right: 0;
  border-radius: 25px;
  height: 50px;
  width: 100px;
}

#title {
  /* background-color: black; */
  position: absolute;
  top: 200px;
  left: 450px;
  color: white;
  font-size: 200px; 
  font-weight: bolder;
  border-radius: 25px;
}

#homebutton {
  position: absolute;
  left: 900px;
  top: 800px;
  background-color: rgb(212, 93, 93);
  border-radius: 25px;
  height: 50px;
  width: 200px;
  font-size: large;
  color: white;
  font-weight: bolder;

}

#greet {
  color: white;
}

#logotext {
  position: absolute;
  top: 0px;
  left: 100px;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(206, 44, 44);
  /* background-color: antiquewhite; */
}

#login {
  background-color: antiquewhite;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  position: absolute;
  left: 800px;
  top: 300px;
  z-index: 1;

}

#signup {
  background-color: antiquewhite;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  position: absolute;
  left: 800px;
  top: 300px;

}



#description {
  color: white;
  background-color: rgb(10, 10, 10);
  width: 500px;
  margin: auto;
}

#home {
  
  /* background-image: url('bassett.jpg');  */
  /* background-image: url("cellphone.jpg");  */
  /* background-size: cover; 
  background-repeat: no-repeat;  */
  height: 900px;
  width: 2000px;
  background-color: aquamarine;
}

.hidden {
  visibility: hidden;
}

.unhidden {
  visibility: visible;
}

#dog {
  position: absolute;
  left: 600px;
  top: 200px;
  bottom: 300px;
  margin: auto;
  height: 700px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

#info {
  position: absolute;
  left: 50px;
  top: 600px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


#background{
  height: 2000px;
  background-color: black; 
}

#header {
  background-color: white;
  height: 100px;
}
