.App {
  /* text-align: center;
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */

  text-align: center;
  margin: 0;
  align-items: center; 
  background-color: white;
  width: 100%;
  height: 100%;
 
}

#active{
  width: 150px;
  background-color: rgb(8, 37, 8);
  border-radius: 25px;
  color: darkgreen;
  margin: auto;
}

#name {
  color: white;
  font-size: 40px;
  background-color: rgb(10, 10, 10); 
  width: 600px;
  margin: auto;
}

#age{
  color: white;
  font-size: 30px;
  font-weight: lighter;
  background-color: rgb(10, 10, 10); 
  width: 600px;
  margin: auto;
}

#image{
  height: 500px;
  width: 500px;
  margin: auto;

}




.hidden {
  visibility: hidden;
}

.unhidden {
  visibility: visible;
}

#dog {
  position: absolute;
  left: 600px;
  top: 200px;
  bottom: 300px;
  margin: auto;
  height: 700px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

#info {
  position: absolute;
  left: 65px;
  top: 400px;
}


#background{
  height: 2000px;
  background-color: white; 
}

#header {
  background-color: white;
  height: 100px;
}

#interest{
  display: inline-block;
  height: 50px;
  width: 120px;
  background-color: rgb(69, 105, 68);
  border-radius: 25px;
  border-color: black;
  border-width: 1px;
  font-weight: bold;
  font-size: larger;
  
}

