

.chat {
    position: relative;
    margin-bottom: 300px;;
    border-width: 5px; 
    border-style: solid; 
    border-color: black; 
    border-radius: 25px;
    width: 400px;
    height: 100px;
    left: 100px;
    background-color: white;

}



#userchatimage{
    position: absolute;
    left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#userchatname{
    position: absolute;
    left: 70px;
}

#userchatcontext{
    position: absolute;
    top: 20px;
    left: 200px;
}

#replyform{
    position: absolute;
    top: 100px;
}

#reply{
    position: relative;
    top: 90px;
    left: 20px;
    background-color: blue; 
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}