

#chat {
    position: relative;
    margin-bottom: 100px;;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 150px;
    left: 100px;

}

#userchatimage{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
