

/* #background {
    background-color: cadetblue;
    height: 700px;
    width: 700px;
}

#comment{
    position: relative;
    margin-bottom: 100px;;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 150px;
    left: 100px;
} */