#dogform{
    position: absolute;
    top: 50px;
    left: 700px;
    height: 250px;
    width: 400px;
    background-color: rgb(235, 247, 241);
    border-radius: 25px;
    border-color: black;
    /* border- */
    border-style: solid;
}