
#likepagecontainer {
    height: 900px;
    width: 2000px;
    background-color: aquamarine;
}


#likepage {
    position: relative;
    border-width: 25px;
    border-color:  black;
    border-style: solid;
    border-radius: 25px;
    top: 100px;
    left: 0px;
    margin-right: 20px; 
    padding: 10px;
    float: left;
}

#likeimage {
    width: 400px;
    height: 400px;
}

#lin {
    position: absolute;
    margin: auto;
}