
#likepagecontainer {
    height: 900px;
    width: 2000px;
    background-color: aquamarine;
}


#likepage {
    /* position: absolute; */
    left: 0px;
     margin-right: 20px; 
    padding: 100px;
    float: left;
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 900px;
    width: 2000px; */
    /* background-color: aquamarine; */
}

#likeimage {
    width: 400px;
    height: 500px;
}