#ownerdogimg{
    top: 100px;
    height: 150px;
    width: 200px;
    
}

#dogname{
    position: absolute;
    margin: auto;
    /* margin-left: 170px; */
    margin-top: -50px;
}

#ownerdog{
    padding: 50px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-flex; 
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    border-width: 25px;
    border-radius: 25px;
}



#button {
    position: relative;
    top: 150px;
    /* margin-top: 400px; */
    /* margin-left: 150px; */
    bottom: 0px;
    height: 30px;
    width: 70px;
}

#button2 {
    position: relative;
    top: 150px;
    bottom: 0px;
    /* margin-top: 400px;
    margin-left: 220px; */
    
    height: 30px;
    width: 70px;
}

#dogform{
    position: absolute;
    left: 200px;
    top: 300px;

}

