#ownerdogimg{
    height: 400px;
    width: 400px;
}

#ownerdog{
    /* position: absolute; */
   float: right; 
   margin-right:100px;
   /* padding: 20px; */
    top: 100px;
    left: 0px;
}

#dogform{
    position: absolute;
    left: 200px;
    top: 300px;

}