#profileimage{
    position: absolute;
    left: 0px;
    height: 400px;
    width: 400px;

}

#proname{
    position: absolute;
    left: 200px;
    top: 10px;
    font-size: xx-large;
}

#profile{
    position: absolute;
    top: 200px;
    left: 700px;
    margin: auto;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 800px;
    width: 1200px;
}

#editproform{
    height: 200px;
    width: 500px;
    background-color: lightgreen;
    margin: auto;
}