#profileimage{
    position: absolute;
    left: 0px;
    height: 400px;
    width: 400px;

}

#proname{
    position: absolute;
    left: 300px;
    top: 200px;
    font-size: xx-large;
}

#profile{
    margin: auto;
    border-radius: 25px;
    border-color: black;
    border-width: 25px;
    border-style: solid;
    height: 800px;
    width: 600px;
}