#background{
    height: 2000px;
    width: 2000px;
    background-color: pink;
}
.card {
    position: relative;
    width: 700px;
    padding: 20px;
    max-width: 85vw;
    height: 70vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 80px 50px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.tinderCards_cardContainer {
    position: absolute;
    left: 650px;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#info {
    position: absolute;
    /* top: 1200px; */
    background-color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: 90px;

}
   

#description {
    color: white;
    background-color: rgb(10, 10, 10);
    width: 600px;
    margin: auto;
    top: 400px;
    
  }

#name {
    font-weight: bold;
    left: 0px;
}

#age {
    font-weight: bold;
}

#gender{ 
    margin-top: 0px;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    /* height: 100px; */
    background-color: black;
    color: white;
    font-weight: bold;
}

#interesttinder{
    margin-top: -20px;
    /* position: absolute; */
    margin-bottom: 2px;
    float: right;
    margin-right: 5px;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    background-color: #e2312b;
    color: black;
    font-weight: bold;
}

.swipe {
    position: absolute;
}

#swipeimg{
    height: 200px;
    width: 200px;
   position: absolute;
   z-index: 5;
  right: 0px;
   top:0px;
}

#swipeimgn{
    height: 200px;
    width: 200px;
   position: absolute;
   z-index: 5;
  left: 0px;
   top:0px;
}

.hidden{
    visibility: hidden;
}

.nothidden{
    visibility: visible;
}